* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.2; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ol {
  padding-left: 1.4em;
  list-style: decimal; }

ul {
  padding-left: 1.4em;
  list-style: square; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  display: grid; }
  @media only screen and (min-width: 1000px) {
    body {
      grid-template-columns: 1fr 10fr 1fr;
      grid-template-rows: auto;
      grid-template-areas: "header header header" "section1 section1 section1" ". section2 ." ". blog ." "section3 section3 section3" ". testimonial ." "section4 section4 section4" "footer footer footer"; } }
  @media only screen and (min-width: 768px) and (max-width: 999px) {
    body {
      grid-template-columns: 1fr 22fr 1fr;
      grid-template-rows: auto;
      grid-template-areas: "header header header" "section1 section1 section1" ". section2 ." ". blog ." "section3 section3 section3" ". testimonial ." "section4 section4 section4" "footer footer footer"; } }
  @media only screen and (max-width: 767px) {
    body {
      grid-template-columns: 1fr 10fr 1fr;
      grid-template-rows: auto;
      grid-template-areas: "header header header" "section1 section1 section1" ". section2 ." ". blog ." "section3 section3 section3" ". testimonial ." "section4 section4 section4" "footer footer footer"; } }

.navigation {
  display: grid;
  grid-area: header;
  grid-template-rows: auto;
  grid-template-areas: ". nav-menu .";
  background-color: #383E4C; }
  .navigation #toggle-menu {
    display: none; }
  .navigation .hamburger {
    display: none; }
  .navigation nav {
    text-align: center; }
  .navigation ul {
    padding: 0;
    margin: 0; }
  .navigation a {
    display: block;
    text-decoration: none; }
    .navigation a:hover {
      background-color: #49505F; }
  @media only screen and (min-width: 1000px) {
    .navigation {
      grid-template-columns: 1fr 2fr 1fr; }
      .navigation nav {
        grid-area: nav-menu; }
        .navigation nav ul {
          height: 78px;
          display: flex;
          justify-content: space-between; }
          .navigation nav ul li {
            list-style-type: none;
            flex-grow: 1;
            text-align: center;
            padding: 10px 5px; }
            .navigation nav ul li a {
              font-size: 20px;
              text-transform: capitalize;
              font-weight: normal;
              color: #fff;
              padding: 15px 25px;
              line-height: 20px;
              text-decoration: none;
              -webkit-text-size-adjust: 100%;
              border: 1px solid #646d7c; } }
  @media only screen and (max-width: 999px) and (min-width: 768px) {
    .navigation {
      grid-template-columns: 1fr 4fr 1fr; }
      .navigation nav {
        grid-area: nav-menu;
        text-align: center; }
        .navigation nav ul {
          display: flex;
          display: flex;
          justify-content: space-between; }
          .navigation nav ul li {
            list-style-type: none;
            flex-grow: 1;
            padding: 6px; }
            .navigation nav ul li a {
              font-size: 16px;
              text-transform: capitalize;
              font-weight: normal;
              color: #fff;
              padding: 15px 25px;
              line-height: 20px;
              text-decoration: none;
              border: 1px solid #646d7c; } }
  @media only screen and (max-width: 767px) {
    .navigation {
      display: block; }
      .navigation .menu-switch {
        top: 15px;
        right: 25px;
        z-index: 101;
        position: fixed; }
        .navigation .menu-switch .hamburger {
          display: block;
          margin: 8px 15px 8px 0;
          padding: 9px 10px;
          border: 1px solid #383E4C;
          background-color: #383E4C;
          color: #fff;
          border-radius: 4px; }
      .navigation nav {
        position: fixed;
        width: 100%;
        top: 43px;
        display: none;
        box-sizing: border-box;
        padding: 1.4em; }
        .navigation nav ul {
          background-color: #383E4C; }
          .navigation nav ul li {
            border-bottom: 1px solid #999;
            list-style-type: none; }
            .navigation nav ul li:last-child {
              border-bottom: none; }
            .navigation nav ul li a {
              font-size: 16px;
              text-transform: capitalize;
              font-weight: normal;
              color: #fff;
              padding: 10px 0;
              line-height: 20px; }
      .navigation #toggle-menu:checked ~ nav {
        display: block; } }

.btn {
  padding: 10px 30px;
  border-radius: 5px;
  text-decoration: none;
  text-transform: capitalize; }

.btn-green {
  background-color: #178A27; }

.btn-blue {
  background-color: #1686C1; }

.btn-red {
  background-color: #852406; }

.btn-white {
  background-color: #fff; }

.section2 article .btn {
  color: #fff; }

.testimonial article .btn {
  color: #666666; }

.section1 {
  grid-area: section1;
  text-align: center;
  color: #fff;
  background-image: url("../img/bg-1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .section1 h1 {
    font-size: 70px;
    text-transform: uppercase;
    font-weight: normal;
    margin: 20px 0 10px 0;
    text-shadow: 2px 2px #000;
    color: #fff; }
  .section1 h4 {
    font-size: 25px;
    text-transform: capitalize;
    font-weight: normal;
    margin: 10px 0 10px 0;
    text-shadow: 1px 1px #333; }
  @media only screen and (min-width: 480px) {
    .section1 {
      height: 75vh;
      padding: 15px;
      color: #fff; } }
  @media only screen and (max-width: 479px) {
    .section1 {
      height: 50vh;
      padding: 0 20px; }
      .section1 h1 {
        font-size: 55px; }
      .section1 h4 {
        font-size: 25px; } }

.section2 {
  grid-area: section2;
  margin: 6% 0; }
  .section2 article {
    background-color: #F2F2F2; }
  .section2 img {
    width: 100%; }
  .section2 p {
    font-size: 14px;
    font-weight: normal;
    margin: 1% 5% 5% 5%;
    color: #333;
    line-height: 1.6em;
    flex: 310; }
  .section2 h2 {
    font-size: 20px;
    font-weight: 700;
    margin: 2% auto;
    text-align: center;
    flex: 10; }
  .section2 .btn {
    flex: 1; }
  .section2 .green-text {
    color: #178A27; }
  .section2 .blue-text {
    color: #1686C1; }
  .section2 .gray-text {
    color: #666666; }
  .section2 article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
  @media only screen and (min-width: 768px) {
    .section2 {
      display: flex;
      justify-content: space-between; }
      .section2 article {
        width: 32%;
        padding-bottom: 2%; } }
  @media only screen and (max-width: 767px) and (min-width: 480px) {
    .section2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin: 6% 11%; }
      .section2 article {
        margin: 6% 0;
        padding-bottom: 4%; } }
  @media only screen and (max-width: 479px) {
    .section2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin: 6%; }
      .section2 article {
        margin: 6% 0;
        padding-bottom: 4%; } }

.blog {
  grid-area: blog;
  display: flex;
  justify-content: space-between; }
  .blog article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2%;
    background-color: #F2F2F2;
    width: 48.5%; }
    .blog article img {
      width: 100%; }
    .blog article h2 {
      font-size: 20px;
      font-weight: 700;
      margin: 2% auto;
      color: #666666; }
    .blog article p {
      font-size: 14px;
      font-weight: normal;
      margin: 1% 5% 5% 5%;
      color: #333;
      line-height: 1.6em; }
    .blog article .btn-white {
      color: #333;
      font-size: 18px;
      border: 1px solid #ccc;
      background-color: #fff; }

.section3 {
  grid-area: section3;
  background-image: url("../img/bg-2.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 5% 0 5% 0;
  text-align: center;
  margin: 4% 0 4% 0; }
  .section3 h1 {
    font-size: 36px;
    text-transform: capitalize;
    font-weight: 500;
    margin: 20px auto;
    text-shadow: 2px 2px #aaa;
    color: #fff;
    line-height: 1.1; }
  .section3 p {
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    color: #fff;
    line-height: 1.6em; }

.testimonial {
  grid-area: testimonial;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .testimonial h2 {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
    margin: 3% 0;
    color: #666666;
    line-height: 1.6m;
    flex: 1; }
  .testimonial p {
    font-size: 14px;
    font-weight: normal;
    margin: 0 5%;
    color: #333;
    line-height: 1.6em;
    flex: 5; }
  .testimonial .btn {
    border: 1px solid #cdcdcd; }
  .testimonial img {
    width: 100%; }
  .testimonial .testimonial-small {
    margin-bottom: 4%;
    display: flex;
    justify-content: space-between; }
    .testimonial .testimonial-small article {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background-color: #F2F2F2;
      width: 22%;
      padding-bottom: 3%; }
      .testimonial .testimonial-small article .btn {
        margin-top: 10%;
        flex: 1; }
  .testimonial .testimonial-big {
    margin-bottom: 4%; }
    .testimonial .testimonial-big article {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background-color: #F2F2F2;
      padding-bottom: 3%; }
      .testimonial .testimonial-big article .btn {
        flex: 1; }
      .testimonial .testimonial-big article h2 {
        margin: 1% 0; }

.section4 {
  grid-area: section4;
  background-image: url("../img/bg-3.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: ". header header ." ". para para ." ". form form .";
  text-align: center;
  padding: 5.5% 0;
  color: #000; }
  .section4 h1 {
    grid-area: header;
    font-size: 36px;
    text-transform: capitalize;
    font-weight: normal;
    margin: 0 0 30px 0;
    text-shadow: 2px 2px #333;
    color: #fff; }
  .section4 p {
    grid-area: para;
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 20px 0;
    padding: 20px 15px;
    line-height: 1.6em;
    background: rgba(242, 242, 242, 0.4) none repeat scroll 0 0;
    border-radius: 5px; }
  .section4 form {
    grid-area: form;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-template-areas: "name comment" "email comment" "subject comment" ". button"; }
    .section4 form #name {
      grid-area: name;
      background: rgba(242, 242, 242, 0.4);
      border: none;
      border-radius: 4px;
      padding: 6px 12px;
      line-height: 1.42857143;
      min-width: 90%;
      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
      .section4 form #name::placeholder {
        color: inherit; }
    .section4 form #email {
      grid-area: email;
      background: rgba(242, 242, 242, 0.4);
      border: none;
      border-radius: 4px;
      padding: 6px 12px;
      line-height: 1.42857143;
      min-width: 90%;
      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
      .section4 form #email::placeholder {
        color: inherit; }
    .section4 form #subject {
      grid-area: subject;
      background: rgba(242, 242, 242, 0.4);
      border: none;
      border-radius: 4px;
      padding: 6px 12px;
      line-height: 1.42857143;
      min-width: 90%;
      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
      .section4 form #subject::placeholder {
        color: inherit; }
    .section4 form #comment {
      grid-area: comment;
      background: rgba(242, 242, 242, 0.4);
      border: none;
      border-radius: 4px;
      padding: 6px 12px;
      line-height: 1.42857143;
      min-width: 90%;
      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
      .section4 form #comment::placeholder {
        color: inherit; }
    .section4 form .btn {
      grid-area: button;
      background: #262628 none repeat scroll 0 0;
      font-size: 18px;
      color: #fff;
      border-radius: 10px;
      transition: all 0.3s ease;
      border-color: #ccc;
      border: 1px solid #fff; }
      .section4 form .btn:hover {
        background-color: #49505F; }

.footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .footer h1 {
    font-size: 32px;
    font-weight: normal;
    margin: 35px 0 25px 0;
    color: #666666;
    font-style: italic; }
  .footer p {
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 30px 0;
    color: #999;
    line-height: 1.6em;
    font-style: italic; }
  .footer hr {
    border: 0;
    border-top: 1px solid #eee;
    display: block;
    margin: 20px 0;
    width: 100%; }

/*# sourceMappingURL=main.css.map */
