body {
  font-family: $body-font;
  font-size: $font-size;
  display: grid;

  @media only screen and (min-width: 1000px) {
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header header header"
      "section1 section1 section1"
      ". section2 ."
      ". blog ."
      "section3 section3 section3"
      ". testimonial ."
      "section4 section4 section4"
      "footer footer footer";
  }

  @media only screen and (min-width: 768px) and (max-width: 999px) {
    grid-template-columns: 1fr 22fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header header header"
      "section1 section1 section1"
      ". section2 ."
      ". blog ."
      "section3 section3 section3"
      ". testimonial ."
      "section4 section4 section4"
      "footer footer footer";
  }

  @media only screen and (max-width: 767px) {
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header header header"
      "section1 section1 section1"
      ". section2 ."
      ". blog ."
      "section3 section3 section3"
      ". testimonial ."
      "section4 section4 section4"
      "footer footer footer";
  }
}