$blogHeaderTextColor: $gray;
$blogTextColor: $light-black;
$blogBtnTextColor: $light-black;
$blogBtnBorderColor: $gray2;
$blogHeaderFontSize: 20px;
$blogParaFontSize: 14px;

.blog {
  grid-area: blog;
  h2 { 
    @include text-properties($blogHeaderFontSize, 700, 
    $margin: 2% auto, $color: $blogHeaderTextColor);
  }
  p {
    @include text-properties($blogParaFontSize, $line-height: 1.6em,
    $margin: 1% 5% 5% 5%, $color: $blogTextColor);
  }
  .btn-white { 
    color: $blogBtnTextColor;
    font-size: 18px;
    border: 1px solid $blogBtnBorderColor;
    background-color: $btn-white-color;
  }
  img { width: 100%; }
  article { background-color: $content-background-color; }
  // width: 90vw;
  @media only screen and (min-width: 768px) {
    @include flex-row();
    article {
      @include flex-column();
      padding-bottom: 2%;
      width: 48.5%;
    }
  }

  @media only screen and (max-width: 767px) {
    article {
      margin: 4% 0;
      padding-bottom: 4%;
      @include flex-column();
      justify-content: space-between;
    }
  }
}