$navBackgroundColor: $dark-gray;
$navBtnTextColor: $white;
$navBtnHoverColor: $medium-gray;
$navBtnFontSizeLg: 20px;
$navBtnFontSizeMd: 16px;
$navBtnFontSizeSm: 16px;
$navBtnLineHeight: 20px;

.navigation {
  #toggle-menu { display: none; }
  .hamburger { display: none; }
  display: grid;
  grid-area: header;
  grid-template-rows: auto;
  grid-template-areas:
    ". nav-menu .";
  background-color: $navBackgroundColor;
  nav { text-align: center; }
  ul {
    padding: 0;
    margin: 0;
  }
  a {
    display: block;
    text-decoration: none;
    &:hover { background-color: $navBtnHoverColor; }
  }

  @media only screen and (min-width: 1000px) {
    grid-template-columns: 1fr 2fr 1fr;
    nav { 
      grid-area: nav-menu;
      ul {
        height: 78px;
        @include flex-row();
        li {
          list-style-type: none;
          flex-grow: 1;
          text-align: center;
          padding: 10px 5px;
          a {
            @include text-properties($navBtnFontSizeLg,
            $texttransform: capitalize, $color: $navBtnTextColor,
            $line-height: $navBtnLineHeight, $textdecoration: none,
            $padding: 15px 25px);
            -webkit-text-size-adjust: 100%;
            border: 1px solid #646d7c;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 999px) and (min-width: 768px) {
    grid-template-columns: 1fr 4fr 1fr;
    nav { 
      grid-area: nav-menu;
      text-align: center;
      ul {
        display: flex;
        @include flex-row();
        li {
          list-style-type: none;
          flex-grow: 1;
          padding: 6px;
          a {
            @include text-properties($navBtnFontSizeMd,
            $texttransform: capitalize, $color: $navBtnTextColor,
            $line-height: $navBtnLineHeight, $textdecoration: none,
            $padding: 15px 25px);
            border: 1px solid #646d7c;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 767px) {
    display: block;
    .menu-switch {
      top: 15px;
      right: 25px;
      z-index: 101;
      position: fixed;
      .hamburger {
        display: block;
        margin: 8px 15px 8px 0;
        padding: 9px 10px;
        border: 1px solid $navBackgroundColor;
        background-color: $navBackgroundColor;
        color: $navBtnTextColor;
        border-radius: 4px;
      }
    }
    nav {
      position: fixed;
      width: 100%;
      top: 43px;
      display: none;
      box-sizing: border-box;
      padding: 1.4em;
      ul {
        background-color: $navBackgroundColor;
        li {
          border-bottom: 1px solid #999;
          list-style-type: none;
          &:last-child { border-bottom: none; }
          a {
            @include text-properties($navBtnFontSizeSm, $texttransform: capitalize, 
            $color: $navBtnTextColor, $line-height: 20px, $padding: 10px 0);
          }
        }
      }
    }
    #toggle-menu:checked ~ nav {
      display: block;
    }
  }
}