$section2-green-header-text-color: $green;
$section2-blue-header-text-color: $blue;
$section2-gray-header-text-color: $gray;
$section2-text-color: $light-black;
$section2-header2-font-size: 20px;
$section2-para-font-size: 14px;

.section2 {
  grid-area: section2;
  @include flex-row();
  margin: 6% auto;
  article {
    @include flex-column();
    justify-content: space-between;
    width: 32%;
    background-color: $content-background-color;
    padding-bottom: 2%;
    img { width: 100%; }
    p { 
      @include text-properties($section2-para-font-size, normal, 
      $margin: 1% 5% 5% 5%, $color: $section2-text-color, 
      $line-height: 1.6em);
      flex: 310
    }
    h2 { 
      @include text-properties($section2-header2-font-size, 700, 
      $margin: 2% auto);
      text-align: center;
      flex: 10;
    } 
    .btn{ flex: 1; }
    .green-text { color: $section2-green-header-text-color; }
    .blue-text { color: $section2-blue-header-text-color; }
    .gray-text { color: $section2-gray-header-text-color; }
  }
}