$section2GreenHeaderTextColor: $green;
$section2BlueHeaderTextColor: $blue;
$section2GrayHeaderTextColor: $gray;
$section2TextColor: $light-black;
$section2Header2FontSize: 20px;
$section2ParaFontSize: 14px;

.section2 {
  grid-area: section2;
  article { background-color: $content-background-color; }
  margin: 6% 0;
  img { width: 100%; }
  p { 
    @include text-properties($section2ParaFontSize, normal, 
    $margin: 1% 5% 5% 5%, $color: $section2TextColor, 
    $line-height: 1.6em);
    flex: 310
  }
  h2 { 
    @include text-properties($section2Header2FontSize, 700, 
    $margin: 2% auto);
    text-align: center;
    flex: 10;
  } 
  .btn{ flex: 1; }
  .green-text { color: $section2GreenHeaderTextColor; }
  .blue-text { color: $section2BlueHeaderTextColor; }
  .gray-text { color: $section2GrayHeaderTextColor; }
  article {
    @include flex-column();
    justify-content: space-between;
  }
  @media only screen and (min-width: 768px) {
    @include flex-row();
    article {
      width: 32%;
      padding-bottom: 2%;
    }
  }

  @media only screen and (max-width: 767px) and (min-width: 480px){
    @include flex-column();
    justify-content: space-between;
    margin: 6% 11%;
    article { 
      margin: 6% 0;
      padding-bottom: 4%;
    }
  }

  @media only screen and (max-width: 479px) {
    @include flex-column();
    justify-content: space-between;
    margin: 6%;
    article { 
      margin: 6% 0;
      padding-bottom: 4%;
    }
  }
}