// all colors
$white: #fff;
$green: #178A27;
$light-green: #449D44;
$blue: #1686C1;
$light-blue: #31B0D5;
$bright-blue: #337ab7;
$gray: #666666;
$medium-gray: #49505F;
$light-gray: #999;
$lighter-gray: #F2F2F2;
$dark-gray: #383E4C;
$gray2: #ccc;
$gray3: #aaa;
$red: #852406;
$light-red: #C9302C;
$black: #262628;
$light-black: #333;
$pure-black: #000;

// button colors
$btn-white-color: $white;
$btn-green-color: $green;
$btn-blue-color: $blue;
$btn-red-color: $red;
$btn-black-color: $black;
$btn-white-hover: $light-gray;
$btn-green-hover-color: $light-green;
$btn-blue-hover-color: $light-blue;
$btn-red-hover-color: $light-red;
$btn-black-hover-color: $light-black;
$section2-btn-text-color: $white;
$testimonial-btn-text-color: $gray;

// background-colors
// change variables to camelCase => 1 instance in section2
$content-background-color: $lighter-gray;

// Font Stack
$body-font: "Open Sans", Helvetica, Arial, sans-serif;
$font-size: 16px;